<body class="bg-gray-200 text-center">
    <div class=" bg-white border-b-4 border-blue-900 p-40  ">
        <h1 class="text-5xl text-blue-800 m-10">The Indian Premier League</h1>
        <p class="text-xl mb-2">The Indian Premier League (IPL) is a professional Twenty20 cricket league in India contested teams representing the different cities in India. The league was founded by the Board of Control for Cricket in India (BCCI) in 2008. </p>
        <p class="text-xl mb-2">IPL is the most-attended cricket league in the world and in 2014 ranked sixth by average attendance among all sports leagues. </p>
        <p class="text-xl mb-2">Scroll down to learn more.</p>
    </div>
    <div class="flex p-20 border-b-4 border-blue-900">
        <app-box-chart class="w-3/5 m-10"></app-box-chart>
        <div class="w-2/5 p-20">
            <div class="text-xl font-bold mb-2">Best Performers</div>
            <p class="text-gray-700 text-lg mb-5">
                Chennai Super Kings have the best average off 156 runs. Whereas Royal Challengers Bangalore have the best score of 260 in just 20 overs. A match with a run rate of 13.0/over cannot be missed.
            </p> 
        </div>
    </div>
    <div class="flex bg-white p-20 border-b-4 border-blue-900">
        <div class="w-2/5   p-20">
            <div class="font-bold text-xl mb-2">Most Boundaries</div>
            <p class="text-gray-700 text-lg mb-5">
                Mumbai Indians have hit the most boundaries throughout the years with Royal Challengers giving a good competition. Throughout the 8 seasons, MI have managed to score 2764 fours and sixes.
                Deccan Chargers and the new teams need to buckle up!
            </p> 
        </div>
        <app-bar-chart class="w-3/5 m-10"></app-bar-chart>
    </div>
    <div class="flex p-20 border-b-4 border-blue-900">
        <app-pie-chart class="w-3/5"></app-pie-chart>
        <div class="w-2/5 p-20">
            <div class="font-bold text-xl mb-2">Chasing teams often win</div>
            <p class="text-gray-700 text-lg mb-5">
                The second innings of a match are super intense. In IPL most matches are won by the team chasing a score! More reason to watch an IPL match.
            </p> 
        </div>
    </div>
    <div class="bg-white flex p-20 border-b-4 border-blue-900">
        <div class="w-2/5 p-20">
            <div class="font-bold text-xl mb-2">Best Performer</div>
            <p class="text-gray-700 text-lg mb-5">
                Chris Gayle, the six machine has managed to be the man of the match 17 times, Whereas Rohit Sharma is at 13 matches! Here's a depiction of all the players having this title.
            </p> 
        </div>
        <app-polar-chart class="w-3/5"></app-polar-chart>
    </div>
    <div class="flex p-20 border-b-4 border-blue-900">
        <app-line-chart class="w-3/5"></app-line-chart>
        <div class="w-2/5 p-20">
            <div class="font-bold text-xl mb-2">Most Wins in a season</div>
            <p class="text-gray-700 text-lg mb-5">
                In seasons 1 & 6, the maximum wins secured were 13! Every season is unique as teams change, venues change and players improve! 
            </p> 
        </div>
    </div>
    <div class="flex p-20 bg-white border-b-4 border-blue-900">
        <div class="w-2/5 p-20">
            <div class="font-bold text-xl mb-2">Best Team</div>
            <p class="text-gray-700 text-lg mb-5">
               Mumbai Indians have emerged as the best team throught the seasons with 80 matches won. They have also won 4 IPL tournaments. Chennai Super Kings are just short of 1 win to have a tie. 
            </p> 
        </div>
        <app-bar-chart-wins class="w-3/5"></app-bar-chart-wins>
    </div>
</body>